.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-transform: capitalize;
  width: 25%;
  height: auto;
  margin: 25px;
  padding: 20px;
  font-style: italic;
}
.card-light {
  color: #000;
}

.card-dark {
  color: #fff;
}

.card-image {
  width: 75%;
  margin: 25px;
  border-radius: 10%;
  transition: 0.5s;
}
.card-image:hover {
  transform: scale(1.125);
}
.card-dark img {
  width: 75%;
  margin: 20px;
}
.agotado {
  background-color: rgba(220, 20, 60, 0.936);
  margin-left: 5px;
  padding: 10px;
  border-radius: 10%;
  color: #fff;
}
.disponibles {
  background-color: rgba(130, 239, 21, 0.735);
  margin-left: 5px;

  padding: 5px;
}
.info {
  /* margin-bottom: 15px; */
  margin: 10px;
  padding-bottom: 10px;
}
.title {
  text-transform: capitalize;
}
.detail-button {
  margin-top: 15px;
}
